.container {
    
}

.title{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
 
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;  
}

.imgContainer{
    margin-top: 40px;
    height: 300px;
} 

.container .image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}
 
@keyframes move {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(0px) scale(1.03);
    }
}

.form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input, .textArea{
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 3px solid #bbb;
    font-size: 20px;
    font-weight: bold;
}

.container .button{
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: #32a6dc;
    border: none;
    border-radius: 5px;   
    width: max-content;
    color: white; 
}

.successMessage{
    color:teal;
}

.errorMessage{
    color: red;
}
/* media queries */
@media screen and (min-width:900px){
    .content{
        flex-direction: row;
    }

    .imgContainer{
        flex: 1;
        height: 500px;
    }
    
    .image{
        object-fit: contain;
        margin-left: 20px;
        margin-bottom: 40px;
        animation: move 3s infinite ease alternate;
    }
    
    @keyframes move {
        from {
            transform: translateY(-25px);
        }
        to {
            transform: translateY(0px) scale(1.03);
        }
    }

    .form{
        flex: 1;
        margin-right: 40px;
    }

    @keyframes move {
        from {
            transform: translateY(-15px);
        }
        to {
            transform: translateY(0px) scale(1.03);
        }
    }
    
}