*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #111;
  color: #bbb;
}

a{
  text-decoration: none;
  color: inherit;
}

.theme{
  transition: 1s all ease;
}

.light{
  background-color: white;
  color: #111;
}

.dark{
  background-color: #111;
  color: #bbb;
}
