.container{
  min-height: 80vh;
  padding: 10px 10px;
}

.portfolioHeading{
  margin-left: 30px;
  margin-top: 20px;
}

.item{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.imgContainer{
  height: 300px;
  border: 1px solid #bbb;
}

.img{
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 30px;
  margin: 0 30px;
}

.container .button{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* media queries */
@media screen and (min-width:900px){
  .item{
    flex-direction: row;
  }

  .item:nth-child(2n+1){
    flex-direction: row-reverse;
  }

  .imgContainer{
    flex: 1;
    height: 500px;
    position: relative;
    padding: 30px;
  }

  .content{
    flex: 1;
  }

  .container .button{
    flex-direction: row;
  }
  
}