.footerContainer{

}

.footerContainer .footerLine{
    width: 100%;
    border-top: 1px solid rgb(88, 108, 113);
}

.footerContainer .content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

/* @media screen and (max-width:900px) {
    .footerContainer .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} */